/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --bg-color: #f5f5f5;
  --bg-image:
            repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
            repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
            linear-gradient(to bottom, #E7E7E7 0.01%, #1A1A1A);
  --main-color: #000;
  --accent-font-family: PressStart2P, sans-serif;
  --main-font-family: Inter, sans-serif;
  --accent-font-weight: 700;
  --main-font-weight: 400;
  --main-title-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  --subtitle-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  --card-size: clamp(320px, 100%, 700px);
  --heart-conture-color: #000;
  --heart-sparks-color: #ff0000;
  --border: 2px solid var(--main-color);
  --heart-contour: #000;
  --heart-color: #ff0000;
  --heart-transition: fill .3s linear;
  --heart-transitin-delayed: fill .3s .05s linear;

  .button__text,
  .floppy-image {
    color: var(--bg-color);
}

@media (width < 375px){
  --main-title-size: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
}
}

:root.theme-dark {
  --bg-color: #000;
  --bg-image:
            repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
            repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
            linear-gradient(to bottom, #007f0c 0.01%, #004306);
  --main-color: #00cc14;
  --accent-font-family: PressStart2P, sans-serif;
  --main-font-family: Inter, sans-serif;
  --accent-font-weight: 785;
  --main-font-weight: 465;
  --main-title-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  --subtitle-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  --card-size: clamp(320px, 100%, 700px);
  --heart-conture-color: #00cc14;
  --heart-sparks-color: #ff0000;
  --border: 2px solid var(--main-color);
  --heart-contour: #00cc14;
  --heart-color: #ff0000;
  --heart-transition: fill .3s linear;
  --heart-transitin-delayed: fill .3s .05s linear;

  .button__text,
  .floppy-image {
    color: var(--main-color);
  }

  @media (width < 375px){
    --main-title-size: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg-color: #000;
    --bg-image:
              repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
              repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
              linear-gradient(to bottom, #007f0c 0.01%, #004306);
    --main-color: #00cc14;
    --accent-font-family: PressStart2P, sans-serif;
    --main-font-family: Inter, sans-serif;
    --accent-font-weight: 700;
    --main-font-weight: 400;
    --main-title-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
    --subtitle-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
    --card-size: clamp(320px, 100%, 700px);
    --heart-conture-color: #00cc14;
    --heart-sparks-color: #ff0000;
    --border: 2px solid var(--main-color);
    --heart-contour: #00cc14;
    --heart-color: #ff0000;
    --heart-transition: fill .3s linear;
    --heart-transitin-delayed: fill .3s .05s linear;
  }

  .button__text,
  .floppy-image {
    color: var(--main-color);
  }

  @media (width < 375px){
    :root {
    --main-title-size: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
    }
  }
}
